<div class="container" infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">
  <div class="columns is-multiline">
    <div class="column is-4" *ngFor="let wine of wines; let i = index">
      <div class="card">
        <div class="card-image" [routerLink]="'/wine/' + wine.code">
          <figure class="image is-4by3" [ngStyle]="{'background-image': 'url(' + wine.image + ')'}">

          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="content">
              <div class="wine-tags">
                <span *ngIf="wine.type">{{wine.type}}</span>
                <span *ngIf="wine.vintage">{{wine.vintage}}</span>
                <span *ngIf="wine.price && wine.price > 0">${{wine.price}}</span>
                <span *ngIf="wine.snoothrank && wine.snoothrank !== 'n/a'">Rating: {{wine.snoothrank}}</span>
              </div>
              <p class="title">{{wine.name}}</p>
            </div>
          </div>
          <div class="content">
            Winery:  {{wine.winery}}
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" (click)="addWineToCellar(wine)" *ngIf="!alreadyOwned(wine)">Add to my wines</a>
          <a class="card-footer-item" (click)="removeWineFromCellar(wine)"  *ngIf="alreadyOwned(wine)">I drank it all</a>
          <a class="card-footer-item" [routerLink]="'/wine/' + wine.code">Details</a>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="showSpinner">
  <div class="loader"></div>
</div>