@import "../../../variables";

.container {
  padding: 1rem;
}

.image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card {
  height: 100%;

  transition: 0.4s all;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  }
}

.title {
  font-size: 1.3rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-image {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.wine-tags {
  margin-bottom: 0.6rem;
  span {
    display: inline-block;
    color: white;
    background: $brand-color;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}