<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" >
      <span class="app-brand" [routerLink]="['/']">Wine-App</span>
    </a>
    <div class="navbar-burger" (click)="toggleMenu()" [ngClass]="{'is-active': menuOpen}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" [ngClass]="{'is-active': menuOpen}">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['/']" (click)="toggleMenu()">
        Browse
      </a>
      <a class="navbar-item" [routerLink]="['/my-wines']" (click)="toggleMenu()">
        My wines ({{myWinesAmount}})
      </a>
    </div>
  </div>
</nav>