@import "../../../variables";

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.app-brand {
  color: $brand-color;
  font-size: 1.5rem;
  font-family: 'Yellowtail', cursive;
}