@import "../../../variables";

.container {
  padding: 1rem;
}

.wine-tags {
  margin-bottom: 0.6rem;
  span {
    display: inline-block;
    color: white;
    background: $brand-color;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

blockquote {
  width: 100%;
  margin: 1rem 0;
}