<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3" [ngStyle]="{'background-image': 'url(' + wine.image + ')'}"></figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="content">
              <div class="wine-tags">
                <span *ngIf="wine.type">{{wine.type}}</span>
                <span *ngIf="wine.vintage">{{wine.vintage}}</span>
                <span *ngIf="wine.price && wine.price > 0">${{wine.price}}</span>
                <span *ngIf="wine.snoothrank && wine.snoothrank !== 'n/a'">Rating: {{wine.snoothrank}}</span>
              </div>
              <p class="title">{{wine.name}}</p>
            </div>
          </div>
          <div class="content" *ngIf="showTab == 'content'">
            <strong>Winery:  {{wine.winery}}</strong>

            <div class="description">
              {{wine.wm_notes}}
            </div>
          </div>
          <div class="content" *ngIf="showTab == 'reviews'">
            <blockquote  *ngFor="let review of wine.reviews">
              <p>{{review.body}}</p>
              <em>– {{review.name}}<span *ngIf="review.rating > 0">, Rating: {{review.rating}}</span></em>
            </blockquote>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" (click)="addWineToCellar(wine)"  *ngIf="!alreadyOwned(wine)">Add to my wines</a>
          <a class="card-footer-item" (click)="removeWineFromCellar(wine)"  *ngIf="alreadyOwned(wine)">I drank it all</a>
          <a class="card-footer-item" *ngIf="showTab !== 'content'" (click)="toggleTab('content')">Details</a>
          <a class="card-footer-item" *ngIf="wine.reviews && showTab !== 'reviews'" (click)="toggleTab('reviews')">Reviews</a>
        </footer>
      </div>
    </div>
  </div>
</div>