// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$brand-color: #ffc600;
$pink-invert: #fff;
// Add a serif family
$family-serif:  'Roboto', sans-serif;

$primary-bg: #ffffff;
$secondary-bg: #ffffff;
$dark-bg: #353535;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $brand-color;
$primary-invert: findColorInvert($primary);
$secondary-invert: #000000;
// Use the existing orange as the danger color
$danger: $red;
// Use the new serif family
$family-primary: $family-serif;